{#
/**
 * Header Quote Section for the Person content type.
 */
#}

{%- set attributes = attributes.addClass(['su-quote', 'layout--section-person-header']) -%}

<figure {{ attributes }}>
  <div {{ region_attributes.quote_media.addClass(['su-quote__media']) }}>
    {{- content.quote_media -}}
  </div>
  <section class="su-quote__body">
    {%- if content.quote_title|render is not empty -%}
    <div {{ region_attributes.quote_title.addClass(['su-quote__bio']) }}>
      {{- content.quote_title -}}
    </div>
    {%- endif -%}
    {%- if content.quote_name|render is not empty -%}
    <div {{ region_attributes.quote_name.addClass(['su-quote__name']) }}>
      {{- content.quote_name -}}
    </div>
    {%- endif -%}
    {%- if content.quote_long_title|render is not empty -%}
    <div {{ region_attributes.quote_long_title.addClass(['su-quote__bio']) }}>
      {{- content.quote_long_title -}}
    </div>
    {%- endif -%}
  </section>
  {%- if content.content|render is not empty -%}
  <div {{ region_attributes.content.addClass(['su-quote__content']) }}>
    {{- content.content -}}
  </div>
  {%- endif -%}
</figure>
